    {% assign free_gift_product_show = true %}
	{% assign free_gift_product = all_products[section.settings.gift_product] %}
	{% for item in cart.items %}
		{% if item.product_id == free_gift_product.id %}
		  {% assign free_gift_product_show = false %}
		{% endif %}
	{% endfor %}

    {% if free_gift_product_show %}
      <div class="welleasy-free-gift--wrapper">
        <div class="welleasy-free-gift-box">
          <div class="welleasy-cart-box">
            {% if section.settings.gift_product_label != blank %}
              <h2 class="welleasy-free-gift-title">{{ section.settings.gift_product_label }}</h2>
            {% endif %}
            <div class="free-gift-product--wrapper flex">
              <div class="cart-image cart-product-styling">
                <img src="{{ free_gift_product.images[0] | img_url: '500x' }}" alt="{{ free_gift_product.title }}">
              </div>
              <div class="cart-details cart-product-styling">
                <div class="cart-details-without-total">
                  <div class="cart-description cart-product-details-styling">
                      {{ free_gift_product.title }}
                  </div>
                  <div class="btn-wrapper">
                    <form id="free_gift_product_form" method="post" action="/cart/add">
                      <input type="hidden" name="id" value="{{ free_gift_product.first_available_variant.id }}" />
                      <input class="hide" min="1" type="number" id="quantity" name="quantity" value="1" />
                      <button type="submit" class="addToCart-btn snize-button">Add to cart</button>
                    </form>
                  </div>
                </div>
              </div>     
            </div>
          </div> 
        </div>
      </div>    
    {% endif %}

	{% schema %}
{
   "name": "",
  "settings": [
    {
        "type": "product",
        "id": "gift_product",
        "label": "Free Gift Product"
    }
  ]
}
{% endschema %}
