<div class="accordion-container">
    <div class="set">
      <a href="javascript:void(0)">Product Description <i>+</i></a>
      <div class="content">{{ product.description }}</div>
    </div>

    {% if section.settings.tab_2_heading != blank and section.settings.enable_tab_2 == true and section.settings.tab_2_text != blank %}
    <div class="set">
      <a href="javascript:void(0)">{{ section.settings.tab_2_heading }} <i>+</i></a>
      <div class="content">
        {{ section.settings.tab_2_text }}
      </div>
    </div>
    {% endif %}

    {% if section.settings.tab_3_heading != blank and section.settings.enable_tab_3 == true and section.settings.tab_3_text != blank %}
    <div class="set">
      <a href="javascript:void(0)">{{ section.settings.tab_3_heading }} <i>+</i></a>
      <div class="content">
        {{ section.settings.tab_3_text }}
      </div>
    </div>
    {% endif %}

    {% if section.settings.tab_faq_heading != blank and section.settings.enable_tab_faq == true and section.settings.tab_faq_text != blank %}
    <div class="set">
      <a href="javascript:void(0)">{{ section.settings.tab_faq_heading }} <i>+</i></a>
      <div class="content">
        {{ section.settings.tab_faq_text }}
      </div>
    </div>
    {% endif %}
  </div>


{% schema %}

{
"type": "header",
"content": "Accordion 1"
},
{
"type": "checkbox",
"id": "enable_tab_2",
"label": "Enable"
},
{
"type": "text",
"id": "tab_2_heading",
"label": "Heading",
"default": "DELIVERY AND RETURNS"
},
{
"type": "textarea",
"id": "tab_2_text",
"label": "Text"
},
{
"type": "header",
"content": "Accordion 2"
},
{
"type": "checkbox",
"id": "enable_tab_3",
"label": "Enable"
},
{
"type": "text",
"id": "tab_3_heading",
"label": "Heading",
"default": "WHY BUY FROM US"
},
{
"type": "textarea",
"id": "tab_3_text",
"label": "Text"
},
{
"type": "header",
"content": "Accordion 3"
},
{
"type": "checkbox",
"id": "enable_tab_faq",
"label": "Enable"
},
{
"type": "text",
"id": "tab_faq_heading",
"label": "Heading",
"default": "Faq"
},
{
"type": "textarea",
"id": "tab_faq_text",
"label": "Text"
},

{% endschema %}
