<div class="grid">
    <div class="grid__item medium-up--five-sixths medium-up--push-one-twelfth">
      <div class="section-header text-center">
        <h1>{{ page.title }}</h1>
      </div>
      {% if page.content.size > 0 %}
      <div class="rte">
        {{ page.content }}
      </div>
      {% endif %}
      <div class="row contact-info">
        <div class="col small-12 large-12">
          <div class="wpforms-container" id="wpforms-488868">
            {%- assign formId = 'dcmaForm' -%}
            {% form 'contact', id: formId %}
            {% include 'form-status', form_id: formId %}
            <div class="wpforms-field-container">
              <div>
                <label for="{{ formId }}-name">Your name <span aria-hidden="true">*</span></label>
                <input type="text" id="{{ formId }}-name" name="contact[name]" value="{% if form[name] %}{{ form[name] }}{% endif %}" placeholder="Please enter your full, legal name" required>
                <div>Note that your contact information may be provided to the person that posted the content you are reporting.</div>
              </div>
              <div>
                <label for="{{ formId }}-email">Email <span aria-hidden="true">*</span></label>
                <input type="email" id="{{ formId }}-email" name="contact[email]" value="{% if form[email] %}{{ form[email] }}{% endif %}" placeholder="Your Email" required>
              </div>
              <div>
                <label for="{{ formId }}-company">Company (optional) </label>
                <input type="text" id="{{ formId }}-company" name="contact[company]" value="{% if form[company] %}{{ form[company] }}{% endif %}" placeholder="Company Name" >
              </div>
              <div>
                <label for="{{ formId }}-address">Address <span aria-hidden="true">*</span></label>
                <textarea type="text" id="{{ formId }}-address" name="contact[address]" value="" placeholder="Address" required>
                  {% if form[address] %}{{ form[address] }}{% endif %}</textarea>
              </div>
              <div>
                <label for="contactHolder">Telephone number <span aria-hidden="true">*</span></label>
                <input type="text" id="contactHolder" name="contact[tel]" value="{% if form[tel] %}{{ form[tel] }}{% endif %}" placeholder="Telefone Number" required>
              </div>

              <div>
                <h6>Copyright Ownership Type</h6>
                <label for="{{ formId }}-copyright_owner" class="radio container">
                  <input type="radio" id="{{ formId }}-copyright_owner" name="contact[copyright_ownership]" value="owner">I am the copyright owner<br/>
                  <span class="checkmark"></span>
                </label>

                <label for="{{ formId }}-copyright_representative" class="radio container">
                  <input type="radio" id="{{ formId }}-copyright_representative" name="contact[copyright_ownership]" value="representative">I am an authorized representative of the copyright owner
                  <span class="checkmark"></span>
                </label>
              </div>


              <div>
                <h3>CONTENT YOU WANT TO REPORT</h3>
                <p>Please provide link(s) to the content you believe violates or infringes your copyright on this store.</p>
                <label>Links to the allegedly infringing work</label>
                <p>Ensure you have provided a comprehensive list to each individual page with the content you would like removed and not just the main shop URL. Up to 100 links may be included in the same notice.</p>
              </div>

              <div>
                <input type="url" id="{{ formId }}-link1" name="contact[link1]" value="{% if form[link1] %}{{ form[link1] }}{% endif %}" placeholder="Links to the origional work*" required>
              </div>
              <div>
                <input type="url" id="{{ formId }}-link2" name="contact[link2]" value="{% if form[link2] %}{{ form[link2] }}{% endif %}" placeholder="Links to the origional work">
              </div>
              <div>
                <input type="url" id="{{ formId }}-link3" name="contact[link3]" value="{% if form[link3] %}{{ form[link3] }}{% endif %}" placeholder="Links to the origional work">
              </div>


              <div>
                <label for="{{ formId }}-discription">Description of the specific material (or portion thereof) that is claimed to be infringing or be the subject of infringing activity and that is to be removed or access to which is to be disabled <span aria-hidden="true">*</span></label>
                <textarea type="text" id="{{ formId }}-discription" name="contact[discription]" required>{% if form[discription] %}{{ form[discription] }}{% endif %}</textarea>
              </div>


              <div>
                <h3>IDENTIFY YOUR WORK</h3>
                <p>
                  Please provide link(s) to the content you believe violates or infringes your copyright on the store. Ensure you have provided a comprehensive list to each individual page with the content you would
                  like removed and not just the main shop URL. Up to 100 links may be included in the same notice.
                </p>
              </div>

              <div>
                <input type="url" id="{{ formId }}-link4" name="contact[link4]" value="{% if form[link4] %}{{ form[link4] }}{% endif %}" placeholder="Links to the allegedly infringing work">
              </div>
              <div>
                <input type="url" id="{{ formId }}-link5" name="contact[link5]" value="{% if form[link5] %}{{ form[link5] }}{% endif %}" placeholder="Links to the allegedly infringing work">
              </div>
              <div>
                <input type="url" id="{{ formId }}-link6" name="contact[link6]" value="{% if form[link6] %}{{ form[link6] }}{% endif %}" placeholder="Links to the allegedly infringing work">
              </div>

              <div>
                <label for="{{ formId }}-discription2">Description of the original work<span aria-hidden="true">*</span></label>
                <textarea id="{{ formId }}-discription2" name="contact[discription2]" required>{% if form[discription2] %}{{ form[discription2] }}{% endif %}</textarea>
                <div>Please provide a description of the original work (e.g. photograph I took, product description or blog post I wrote, video I made, etc.)</div>
              </div>

              <div>
                <label for="{{ formId }}-evidence_description">Evidence of ownership of work/trademark<span aria-hidden="true">*</span></label>
                <textarea id="{{ formId }}-evidence_description" name="contact[evidence_description]" required>{% if form[evidence_description] %}{{ form[evidence_description] }}{% endif %}</textarea>
                <div>Please provide the evidence of ownership and the description of the factual and/or legal reasons why you believe that the campaign violates your rights</div>
              </div>

              <div>
                <h3>STATEMENTS</h3>
              </div>

              <div>
                <label for="{{ formId }}-good_faith" class="container">I have a good faith belief that use of the material in the manner complained of is authorized by the copyright owner, its agent, or the law.
                  <input type="checkbox" id="{{ formId }}-good_faith" name="contact[good_faith]">
                  <span class="checkmark"></span>
                </label>
                <label for="{{ formId }}-i_swear" class="container">I swear, under penalty of perjury, that the information in the notification is accurate, and that I am the copyright owner or am authorized to act on behalf of the owner of an exclusive right that is allegedly infringed.
                  <input type="checkbox" id="{{ formId }}-i_swear" name="contact[i_swear]">
                  <span class="checkmark"></span>
                </label>
                <label for="{{ formId }}-i_acknowledge" class="container">I acknowledge that a copy of this infringement notice, including any contact information provided above, may be provided to the person that posted the content being reported.
                  <input type="checkbox" id="{{ formId }}-i_acknowledge" name="contact[i_acknowledge]">
                  <span class="checkmark"></span>
                </label>
              </div>

              <div>
                <h3>ELECTRONIC SIGNATURE</h3>
              </div>

              <div>
                <label for="{{ formId }}-sign_name">Typing your name in the box below will act as your electronic signature.<span aria-hidden="true">*</span></label>
                <input type="text" id="{{ formId }}-sign_name" name="contact[sign_name]" value="{% if form[sign_name] %}{{ form[sign_name] }}{% endif %}" placeholder="Your Name" required>
              </div>

              <input type="submit" class="btn" value="{{ 'contact.form.submit' | t }}">
              {% endform %}
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>