{%comment%}
{% unless product.has_only_default_variant %}
<div class="variant-wrapper variant-wrapper--button js">
  {% assign count = 1 %}
  {%- for option in product.options_with_values -%}
  <label class="variant__label" for="ProductSelect-{{product.id}}-option-{{ forloop.index }}">
    {{ option.name }}
  </label>
  <fieldset class="variant-input-wrap" name="{{ option.name }}" data-index="option{{ forloop.index }}" id="ProductSelect-{{product.id}}-option-0">
    {%- for value in option.values -%}
    <div class="variant-input" data-option-index="{{ option.index }}" data-value="{{ value }}" >
      <input type="radio" {% if option.selected_value == value %} checked="checked"{% endif %}  value="{{ value }}" 
             data-index="option{{ count }}" name="{{ option.name }}" class="variant__input-{{product.id}}" id="ProductSelect-{{product.id}}-option-size-{{ value }}" />
      <label for="ProductSelect-{{product.id}}-option-size-{{ value }}" class="variant__button-label">{{ value }}</label>
    </div>
    {%- endfor -%}
  </fieldset>
  {% assign count = count | plus: 1 %}
  {%- endfor -%}
</div>                                    
{% endunless %}
{%endcomment%}

{% comment %}
  Set the extension of your color files below. Use 'png', 'jpeg', 'jpg' or 'gif'.
{% endcomment %}

{% assign file_extension = 'png' %}

{% if swatch == blank %}
<div class="swatch error">
  <p>You must include the snippet swatch.liquid with the name of a product option.</p> 
  <p>Use: <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
</div>
{% else %}

{% assign found_option = false %}
{% assign is_color = false %}
{% assign option_index = 0 %}

{% for option in product.options %}
  {% if option == swatch %}
    {% assign found_option = true %}
    {% assign option_index = forloop.index0 %}
    <style>
      label[for="product-select-option-{{ option_index }}"] { display: none; }
      #product-select-option-{{ option_index }} { display: none; }
      #product-select-option-{{ option_index }} + .custom-style-select-box { display: none !important; }
    </style>
    <script type="text/javascript">
      $(window).load(function(){ 
        $(".selector-wrapper:eq({{ option_index }})").hide(); 
      });
	</script>
    {% assign downcased_option = swatch | downcase %}
    {% if downcased_option contains 'color' or downcased_option contains 'colour' %}
      {% assign is_color = true %}
    {% endif %}
  {% endif %}
{% endfor %}

{% unless found_option %}
<div class="swatch error">
  <p>You included the snippet swatch.liquid with the name of a product option — <code>'{{ swatch }}'</code> — that does not belong to your product.</p>
  <p>Use <code>{% raw %}{% include 'swatch' with 'name of your product option here' %}{% endraw %}</code></p>
  <p>Example: <code>{% raw %}{% include 'swatch' with 'Color' %}{% endraw %}</code></p>
  <p><strong>This is case-sensitive!</strong> Do not put in <code>'color'</code> if your product option name is <code>'Color'</code>.</p>
</div>
{% else %}
<div class="swatch clearfix" data-option-index="{{ option_index }}">
  <div class="header">
    {{ swatch }}
    {% if product.tags != blank %}
      {% if swatch == 'Size' %}
          <a href="javascript:void(0);" class="sizechart_model model-open" data-model="#sizechart_model">What's My Size</a>
          <div id="sizechart_model" class="modal-new general-model">
            <!-- Modal content -->
            <div class="modal-content">
              <span class="close">&times;</span>
              {% for tag in product.tags %}
                  {% if tag contains 'mens shoe' %}
                      <img src="{{ 'mens_shoe.jpeg' | asset_img_url: '' }}" />
                  {% endif %}
              	  {% if tag contains 'bunion corrector' %}
              		  <img src="{{ 'bunion_corrector.jpeg' | asset_img_url: '' }}" />
              ` ` {% endif %}
                  {% if tag contains 'orthopedic sneakers' %}
                      <img src="{{ 'orthopedic_sneakers.jpeg' | asset_img_url: '' }}" />
                  {% endif %}
                  {% if tag contains 'ladies shoes' %}
                      <img src="{{ 'size_chart.jpeg' | asset_img_url: '' }}" />
                  {% endif %}
              {% endfor %}
            </div>
          </div>
      {% endif %}
    {% endif %}
  </div>
  {% assign values = '' %}
  {% for variant in product.variants %}
    {% assign value = variant.options[option_index] %}
    {% unless values contains value %}
      {% assign values = values | join: ',' %}
      {% assign values = values | append: ',' | append: value %}
      {% assign values = values | split: ',' %}
  
  <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% else %}NonColor {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
    {% if is_color %}
    <div class="tooltip">{{ value }}</div>
    {% endif %}
    <input class="swatchInput" id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
    <label class="swatchLbl {% if is_color %}color{% endif %}" for="swatch-{{ option_index }}-{{ value | handle }}" title="{{ value | handle }}">
      <span class="color_check">{{ value }}</span>
    </label>
  </div>
  
  {%comment%}
      <div data-value="{{ value | escape }}" class="swatch-element {% if is_color %}color {% endif %}{{ value | handle }} {% if variant.available %}available{% else %}soldout{% endif %}">
  		<div class="swatch_color">
        {% if is_color %}
        <div class="tooltip">{{ value }}</div>
        {% endif %}
        <input id="swatch-{{ option_index }}-{{ value | handle }}" type="radio" name="option-{{ option_index }}" value="{{ value | escape }}"{% if forloop.first %} checked{% endif %} {% unless variant.available %}disabled{% endunless %} />
  		</div>
        
        {% if is_color %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}" style="background-color: {{ value | split: ' ' | last | handle }}; background-image: url({{ value | handle | append: '.' | append: file_extension | asset_url }})">
          
        </label>
        {% else %}
        <label for="swatch-{{ option_index }}-{{ value | handle }}">
          {{ value }}
          
        </label>
        {% endif %}
 		       
      </div>
  {%endcomment%}
    {% endunless %}
    {% if variant.available %}
    <script type="text/javascript">
      jQuery('.swatch[data-option-index="{{ option_index }}"] .{{ value | handle }}').removeClass('soldout').addClass('available').find(':radio').removeAttr('disabled');
    </script>
    {% endif %}
  {% endfor %}
</div>
{% endunless %}
{% endif %}