<variant-selects data-section="{{ section.id }}" data-url="{{ product.url }}">
    {%- for option in product.options_with_values -%}
        <label for="Option-{{ section.id }}-{{ forloop.index0 }}">{{ option.name }}</label>
        <div class="select">
            <select id="Option-{{ section.id }}-{{ forloop.index0 }}" name="options[{{ option.name | escape }}]" form="{{ product_form_id }}">
                {%- for value in option.values -%}
                    <option value="{{ value | escape }}" {% if option.selected_value == value %} selected="selected" {% endif %}> {{ value }} </option>
                {%- endfor -%}
            </select>
            {% render 'icon-caret' %}
        </div>
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
</variant-selects>