<variant-radios data-section="{{ section.id }}" data-url="{{ product.url }}" {% if product.has_only_default_variant %} hidden{% endif %}>
    {%- for option in product.options_with_values -%}
        <fieldset class="product-form__input">
            <legend>{{ option.name }}</legend>
            {%- for value in option.values -%}
                {%- liquid
                    assign variants_available_arr = product.variants | map: 'available'
                    assign variants_option1_arr = product.variants | map: 'option1'
                    assign variants_option2_arr = product.variants | map: 'option2'
                    assign variants_option3_arr = product.variants | map: 'option3'

                    assign product_form_id = 'product-form-' | append: section.id
                -%}

                {%- liquid
                    assign option_disabled = true
                    for option1_name in variants_option1_arr
                        case option.position
                            when 1
                                if variants_option1_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                endif
                            when 2
                                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                endif
                            when 3
                                if option1_name == product.selected_or_first_available_variant.option1 and variants_option2_arr[forloop.index0] == product.selected_or_first_available_variant.option2 and variants_option3_arr[forloop.index0] == value and variants_available_arr[forloop.index0]
                                    assign option_disabled = false
                                endif
                        endcase
                    endfor
                -%}
                <input type="radio" id="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}" name="{{ option.name }}" {% if option_disabled %} class="disabled"{% endif %} value="{{ value | escape }}" form="{{ product_form_id }}" {% if option.selected_value == value %}checked{% endif %} hidden>
                <label for="{{ section.id }}-{{ option.position }}-{{ forloop.index0 }}">{{ value }}</label>
            {%- endfor -%}
        </fieldset>
    {%- endfor -%}
    <script type="application/json">
      {{ product.variants | json }}
    </script>
</variant-radios>