{{ 'customer.css' | asset_url | stylesheet_tag }}
<div class="customer login container">
    {% render 'customer-page-title', title: 'customer.register.title', title_id: 'recover' %}
    <div>
        <p>{{ 'customer.recover_password.subtext' | t }}</p>

        {%- form 'recover_customer_password' -%}
            {% assign recover_success = form.posted_successfully? %}

            {% render 'form-input-field', type: 'email', name: 'email' , id: 'RecoverEmail', placeholder: 'customer.login_page.email', aria_describedby: 'RecoverEmail-email-error' form: 'form', autocomplete: 'email' %}
            {%- if form.errors -%}
                <small id="RecoverEmail-email-error" class="form__message">
                    {% render 'icon-error' %}
                    {{ form.errors.messages['form'] }}
                </small>
            {%- endif -%}

            <button>
                {{ 'customer.login_page.submit' | t }}
            </button>

            <a href="#login">
                {{ 'customer.login_page.cancel' | t }}
            </a>
        {%- endform -%}
    </div>

    {% render 'customer-page-title', title: 'customer.login_page.title', title_id: 'login' %}
    <div>
        {%- if recover_success == true -%}
            {% render 'form-success-message' %}
        {%- endif -%}
        {%- form 'customer_login', novalidate: 'novalidate' -%}
            {%- if form.errors -%}
                {% render 'form-default-error' %}
            {%- endif -%}

            {% render 'form-input-field', type: 'email', name: 'email' , id: 'CustomerEmail', placeholder: 'customer.login_page.email', aria_describedby: 'RecoverEmail-email-error' form: 'form', autocomplete: 'email' %}

            {%- if form.password_needed -%}
                {% render 'form-input-field', type: 'password', name: 'customer[password]', id: 'CustomerPassword', placeholder: 'customer.login_page.password', autocomplete: 'current-password' %}

                <a href="#recover">
                    {{ 'customer.login_page.forgot_password' | t }}
                </a>
            {%- endif -%}

            <button>
                {{ 'customer.login_page.sign_in' | t }}
            </button>

            <a href="{{ routes.account_register_url }}">
                {{ 'customer.login_page.create_account' | t }}
            </a> {%- endform -%}
    </div>

    {%- if shop.checkout.guest_login -%}
        <div>
            <hr>
            <h2>{{ 'customer.login_page.guest_title' | t }}</h2>

            {%- form 'guest_login' -%}
                <button>
                    {{ 'customer.login_page.guest_continue' | t }}
                </button>
            {%- endform -%}
        </div>
    {%- endif -%}
</div>

<div class="customer register container">
    {% render 'customer-page-title', title: 'customer.register.title' %}
    {%- form 'create_customer', novalidate: 'novalidate' -%}
        {%- if form.errors -%}
            {% render 'form-default-error' %}
            <ul>
                {%- for field in form.errors -%}
                    <li>
                        {%- if field == 'form' -%}
                            {{ form.errors.messages[field] }}
                        {%- else -%}
                            <a href="#RegisterForm-{{ field }}">
                                {{ form.errors.translated_fields[field] | capitalize }}
                                {{ form.errors.messages[field] }}
                            </a>
                        {%- endif -%}
                    </li>
                {%- endfor -%}
            </ul>
        {%- endif -%}

        {% render 'form-input-field', type: 'text', name: 'customer[first_name]', placeholder: 'customer.register.first_name', id: 'RegisterForm-FirstName', autocomplete: 'given-name' %}

        {% render 'form-input-field', type: 'text', name: 'customer[last_name]', placeholder: 'customer.register.last_name', id: 'RegisterForm-LastName', autocomplete: 'family-name' %}

        {% render 'form-input-field', type: 'email', name: 'customer[email]', placeholder: 'customer.register.email', id: 'RegisterForm-email', aria_describedby: 'RegisterForm-email-error', autocomplete: 'email', form: 'email' %}

        {%- if form.errors contains 'email' -%}
            {% render 'form-field-error', name: 'email', id: 'RegisterForm-email-error' %}
        {%- endif -%}

        {% render 'form-input-field', type: 'password', name: 'customer[password]', form: 'password', placeholder: 'customer.register.password', id: 'RegisterForm-password', aria_describedby: 'RegisterForm-password-error', autocomplete: 'family-name' %}

        {%- if form.errors contains 'password' -%}
            {% render 'form-field-error', name: 'password', id: 'RegisterForm-password-error' %}
        {%- endif -%}
        <button>
            {{ 'customer.register.submit' | t }}
        </button>
    {%- endform -%}
</div>